:root{
    --background: #f1faee;
    --navbar: #333;
    --font: #fff;
    --accent: #e63946;
    --click: #3CBBB1;
}

/* Main */
html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overscroll-behavior-x: none;
    overflow: hidden;
    font-family: 'Courier New', monospace;
}

/* Navbar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    height: 45px;
    width: 100vw;
    /* overflow: hidden; */
    background-color: var(--navbar);
}
#navbar li {
    float: left;
}
#navbar .alignRight {
    float: right;
}
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: #111;
}


/* SideBar */
#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    height: calc(100vh - 45px);
    /* width: clamp(100px, 15vw, 150px); */
    width: 150px;
    background-color: #f1f1f1;
    /* overflow-x: hidden; */
}
#sidebar li {
    text-align: center;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: center;
    height: 6vh;
}
#sidebar li button {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    width: 100%;
}
#sidebar li button:hover {
    background-color: #555;
    color: white;
}


/* MessageBox */
#messageZone {
    /* background-color: blue; */
    position: fixed;
    width: calc(100vw - 150px);
    height: calc(100vh - 45px);
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    bottom: 0;
}
#scrollZone {
    display: flex;
    align-items: center;
    height: 80vh;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 10px;
}
.message {
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 80vw;
    /* height: 150px; */
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: -100px; */
}
.message img {
    width: 40px;
    object-fit: contain;
    position: absolute;
    right: -10px;
    bottom: -20px;
    /* left: 40vw; */
}
#textInput {
    position: relative;
    width: 80vw;
    height: 5vh;
    padding: 12px 20px;
    margin: 10px;
    color: white;
    font-size: 15px;
    outline: none;
    background-color: rgb(162, 162, 162);
    /* backdrop-filter: blur(100px); */
    border: solid 1.5px #454545;
    box-sizing: border-box;
    border-radius: 10px;
}


/* Login */
#loginFormContainer {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 45px);
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    bottom: 0;
    font-size: 20px;
}
#loginFormContainer * {
    margin: 50px;
}
#loginFormContainer input {
    width: 15vw;
    height: 30px;
}
#loginFormContainer button {
    display: block;
    color: #000;
    width: 10vw;
    height: 35px;
    padding: 8px 16px;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 10px;
}
#loginFormContainer button:hover {
    background-color: #cecece;
}

/* FineTuningData Display */
#inputFineTuningData {
    position: relative;
    width: 100vw;
    height: 15vh;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-column-gap: 30px;
}
#inputFineTuningData textarea {
    resize: none;
    height: 100%;
    width: 20%;
}
#inputFineTuningData button {
    display: block;
    color: #000;
    width: 8vw;
    padding: 8px 16px;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 10px;
}
#adminGrid {
    position: relative;
    bottom: 0;
    height: 50vh;
    width: auto;
    padding-top: 10vh;
    display: grid;
    grid-row-gap: 0px;
    overflow: auto;
    grid-auto-rows: auto;
    margin: 0 40px;
    /* margin-top: -30px; */
    outline: solid black 1px;
}
#adminGridRowFixed {
    background-color: #fff;
    position: fixed;
    height: 10vh;
    width: calc(100vw - 80px);
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: 1fr 2fr 2fr 4fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
    outline: solid black .5px;
    font-size: 20px;
    text-decoration: underline;
}
.adminGridRow {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 4fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* grid-column-gap: 10px; */
    outline: solid black .5px;
}
#adminGrid button {
    display: block;
    color: #000;
    width: 50%;
    padding: 8px 16px;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 10px;
}
#adminGrid button:hover,
#inputFineTuningData button:hover {
    background-color: #cecece;
}
#newModelBtn {
    display: block;
    color: #000;
    width: 30vw;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: calc(50% - 15vw);
    margin-top: 25px;
    border: solid black 1px;
    font-size: 20px;
    border-radius: 10px;
}
#newModelBtn:hover {
    background-color: #cecece;
}
#uploadFileDiv {
    width: 100%;
    height: calc(100vh - 35vh - 45px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#uploadFileDiv * {
    margin: 10px;
    font-size: 20px;
    size: 40px;
}


/* Feedback Grid */
#feedbackGrid {
    position: relative;
    height: 60vh;
    width: auto;
    padding-top: 9vh;
    margin: 0 20px 100px 20px;
    display: grid;
    grid-row-gap: 0px;
    grid-auto-rows: auto;
    overflow: auto;
    /* margin-top: -30px; */
    outline: solid black 1px;
}
#feedbackGridRowFixed {
    background-color: #fff;
    position: fixed;
    height: 9vh;
    width: calc(100vw - 40px);
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
    outline: solid black .5px;
    font-size: 20px;
    text-decoration: underline;
}
.feedbackGridRow {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* grid-column-gap: 10px; */
    outline: solid black .5px;
}


/* Account Settings */
#viewAccount {
    position: relative;
    height: 60vh;
    width: auto;
    padding-top: 9vh;
    margin: 60px 20px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    font-size: 25px;
}